### das## Please enter a description of this configuration below:
### wer## Please enter a description of this configuration below:
### sad## Please enter a description of this configuration below:
### qwer## Please enter a description of this configuration below:
CONFIG_ACT8846_LDO6_18V=y
CONFIG_RFKILL_RK_POWERON_PIN3_PD1=y
CONFIG_RFKILL_RK_RESET_INVALID_GPIO=y
CONFIG_RFKILL_RK_WAKE_PIN3_PC7=y
CONFIG_RFKILL_RK_WAKE_HOST_PIN3_PC6=y
CONFIG_VSYNCFIX_SAM321=y
# CONFIG_RK_CPU_312 is not set
# CONFIG_RK_CPU_504 is not set
# CONFIG_RK_CPU_816 is not set
# CONFIG_RK_CPU_1008 is not set
# CONFIG_RK_GPU_133 is not set
# CONFIG_RK_GPU_200 is not set
# CONFIG_RK_GPU_266 is not set
# CONFIG_RK_GPU_300 is not set
# CONFIG_RK_DDR_400 is not set
CONFIG_RK_DDR_600=y
CONFIG_RK_DDR_600_VOLT=1100
CONFIG_CPU_FREQ_GOV_INTERACTIVE_DEFAULT_GO_HISPEED_LOAD=90
CONFIG_CPU_FREQ_GOV_INTERACTIVE_DEFAULT_TARGET_LOAD=75
# CONFIG_CPU_FREQ_GOV_INTERACTIVE_RK_OVERRIDE_HISPEED_FREQ is not set
CONFIG_WIRELESS_EXT=y
CONFIG_WEXT_PRIV=y
CONFIG_DEBUG_DRIVER=y
CONFIG_WLAN=y
CONFIG_WLAN_80211=y
# CONFIG_WIFI_NONE is not set
# CONFIG_BCM4329 is not set
# CONFIG_BCM4319 is not set
# CONFIG_RDA5990 is not set
# CONFIG_MV8686 is not set
# CONFIG_MT5931 is not set
# CONFIG_MT5931_MT6622 is not set
# CONFIG_RTL8192CU is not set
# CONFIG_RTL8188EU is not set
# CONFIG_RT5370 is not set
# CONFIG_AR6003 is not set
CONFIG_RKWIFI=y
CONFIG_RK_CFG80211=y
# CONFIG_BCM4330 is not set
# CONFIG_RK903 is not set
# CONFIG_RK901 is not set
# CONFIG_AP6181 is not set
CONFIG_AP6210=y
# CONFIG_AP6330 is not set
# CONFIG_AP6476 is not set
# CONFIG_AP6494 is not set
# CONFIG_INPUT_FF_MEMLESS is not set
CONFIG_INPUT_EVBUG=y
# CONFIG_INPUT_JOYSTICK is not set
# CONFIG_INPUT_MISC is not set
# CONFIG_ROCKCHIP_REMOTECTL is not set
CONFIG_SERIO=y
CONFIG_SERIO_SERPORT=y
# CONFIG_SERIO_LIBPS2 is not set
# CONFIG_SERIO_RAW is not set
# CONFIG_SERIO_ALTERA_PS2 is not set
# CONFIG_SERIO_PS2MULT is not set
CONFIG_LCDC_RK3188=y
# CONFIG_LCDC0_RK3188 is not set
CONFIG_LCDC1_RK3188=y
# CONFIG_LCDC1_IO_18V is not set
# CONFIG_HIDRAW is not set
# CONFIG_USB_HIDDEV is not set
# CONFIG_HID_A4TECH is not set
# CONFIG_HID_ACRUX is not set
# CONFIG_HID_APPLE is not set
# CONFIG_HID_BELKIN is not set
# CONFIG_HID_CHERRY is not set
# CONFIG_HID_CHICONY is not set
# CONFIG_HID_CYPRESS is not set
# CONFIG_HID_DRAGONRISE is not set
# CONFIG_HID_EMS_FF is not set
# CONFIG_HID_ELECOM is not set
# CONFIG_HID_EZKEY is not set
# CONFIG_HID_KEYTOUCH is not set
# CONFIG_HID_KYE is not set
# CONFIG_HID_UCLOGIC is not set
# CONFIG_HID_WALTOP is not set
# CONFIG_HID_GYRATION is not set
# CONFIG_HID_TWINHAN is not set
# CONFIG_HID_KENSINGTON is not set
# CONFIG_HID_LCPOWER is not set
# CONFIG_HID_LOGITECH is not set
# CONFIG_HID_MAGICMOUSE is not set
# CONFIG_HID_MICROSOFT is not set
# CONFIG_HID_MONTEREY is not set
# CONFIG_HID_NTRIG is not set
# CONFIG_HID_ORTEK is not set
# CONFIG_HID_PANTHERLORD is not set
# CONFIG_HID_PETALYNX is not set
# CONFIG_HID_ROCCAT is not set
# CONFIG_HID_ROCCAT_ARVO is not set
# CONFIG_HID_ROCCAT_KONE is not set
# CONFIG_HID_ROCCAT_KONEPLUS is not set
# CONFIG_HID_ROCCAT_KOVAPLUS is not set
# CONFIG_HID_ROCCAT_PYRA is not set
# CONFIG_HID_SAMSUNG is not set
# CONFIG_HID_SONY is not set
# CONFIG_HID_GREENASIA is not set
# CONFIG_HID_SMARTJOYPLUS is not set
# CONFIG_HID_TOPSEED is not set
# CONFIG_HID_THRUSTMASTER is not set
# CONFIG_HID_WACOM is not set
# CONFIG_HID_ZEROPLUS is not set
# CONFIG_HID_ZYDACRON is not set
# CONFIG_W35UND is not set
# CONFIG_PRISM2_USB is not set
# CONFIG_R8712U is not set
# CONFIG_VT6656 is not set
# CONFIG_ATH6K_LEGACY is not set
